altgraph
certifi>=2023.7.22
cffi>=1.15.1
charset-normalizer>=3.2.0
colorama>=0.4.6
cryptography>=40.0.0,<42.0.0
dotenv
idna>=3.4
packaging
pefile
pycparser
pyinstaller
pyinstaller-hooks-contrib
python-dotenv>=0.20.0
pywin32-ctypes
requests>=2.28.0,<3.0.0
setuptools
urllib3>=1.26.0,<2.0.0